.bookpage_flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    width: 60%;
    padding: 50px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.055);
}

.content{
    width: 50%;
}

.img{
    -webkit-box-shadow: 10px 10px 22px -1px rgba(117,117,117,1);
-moz-box-shadow: 10px 10px 22px -1px rgba(117,117,117,1);
box-shadow: 10px 10px 22px -1px rgba(117,117,117,1);
}

@media (max-width:988px) {
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bookpage_flex{
        width: 95%;
        gap:25px;
        padding: 20px;
    }
    .img{
        width: 275px;
    }
}