.navbar{
    width: 100%;
    background-color: #00000009;
    position: fixed;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: #0000000a;
    border-radius: 12px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.055);
    z-index: 1;
}

